<!-- START DISABLED CODE
=======================================================
If you would like to add a custom sidebar link simply
copy and past the example link below the 'END DISABLED
CODE' line and include your desired URL and LABEL
=======================================================

Example: <li><a href="URL"> LABEL </a></li>

END DISABLED CODE -->